body {
    font-family: "Poppins", sans-serif;
    background: #fdfefe;
    color: #17202a;
}

/* main component label */
label {
    width: 70px;
    margin-bottom: 0.5rem;
}

label[for="save-input"] {
    margin-bottom: 0;
}

/* main component savings */
#save-input {
    width: 75px;
}

/* main component alert */
#error-message {
    display: none;
}
